html, body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  place-item: center;
  justify-items: center;
  align-items: center;
}
#FoodText, #GiftText{
  background: orange;
}
#IncomeText{
  background: lime;
}
