html, body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  place-items: center;
  justify-items: center;
  align-items: center;
}
#FoodText, #GiftText{
  background: orange;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  text-align: center;
  font-family: sans-serif, Arial;
}
#IncomeText{
  background: lime;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  text-align: center;
  font-family: sans-serif, Arial;
}
#BalanceButton{
  background: yellow;
  color: black;
  font-family: sans-serif, Arial;
  height: 100%;
  width: 100%;
}
